*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 255, 255) ;
    height: 200vh;
}
header{
    padding: 0px;
    box-sizing: border-box;
    background-color: red;
}
#Logo-Img{
    width: 25%;
}
main{
    padding: 0% 2% 5% 2%;
    background-color: rgb(255, 255, 255);
}
#Title-Text{
    font-size: medium;
}
#Perfil-Img{
    width: 70%;
}
section{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 2%;
    width: 100%;
    height: 30vh;
    margin-top: 2%;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 2px 0px 20px rgba(0, 0, 255, 0.19);
}
.e-card {
    margin: 100px auto;
    background: transparent;
    position: relative;
    width: 100%;
    height: 70vh;
    border-radius: 0px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    margin-top: auto;
}
.wave {
    position: absolute;
    width: 750px;
    height: 700px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -50%;
    margin-top: -70%;
    background: linear-gradient(744deg,#af40ff,#5b42f3 60%,#00ddeb);
}
.icon {
    width: 3em;
    margin-top: -1em;
    padding-bottom: 1em;
}
.infotop {
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 5.6em;
    left: 0;
    right: 0;
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.name {
    font-size: 15px;
    font-weight: 100;
    position: relative;
    top: 1em;
    text-transform: uppercase;
}
.wave:nth-child(2),
.wave:nth-child(3) {
    top: 210px;
}
.playing .wave {
    border-radius: 40%;
    animation: wave 3000ms infinite linear;
}
.wave {
    border-radius: 40%;
    animation: wave 55s infinite linear;
}
.playing .wave:nth-child(2) {
    animation-duration: 4000ms;
}
.wave:nth-child(2) {
    animation-duration: 50s;
}
.playing .wave:nth-child(3) {
    animation-duration: 5000ms;
}
.wave:nth-child(3) {
    animation-duration: 45s;
}
@keyframes wave {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
}
#Tools{
  text-align: center;

}
.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 100px;
  margin-top: -12vh;
  position: relative;
  overflow: hidden;
  border-radius: 14px;
  margin-bottom: 40px;
}
.content::before {
  content: "";
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
  bottom: 0;
  width: 40px;
  height: 96px;
  background-image: linear-gradient(90deg, #ffffff1c, transparent);
  z-index: 2;
  border-radius: 10px 0 0 10px;
}
.content::after {
  content: "";
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
  bottom: 0;
  width: 40px;
  height: 96px;
  background-image: linear-gradient(-90deg, #ffffff1c, transparent);
  z-index: 9;
  border-radius: 0 10px 10px 0;
}
.basic-marquee {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}
.basic-marquee .button {
  transition: all 0.3s ease;
}
.basic-marquee .button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.basic-marquee-1 {
  animation: marquee 15s linear infinite;
}
.basic-marquee-2 {
  animation: marquee 21s linear infinite;
}
.benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  min-width: 900px;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  inset: 0;
}
@keyframes marquee {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.basic-marquee svg {
  width: 40px;
}
.basic-marquee button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cls-1 {
  fill: #1ab7ea;
}

.cls-1,
.cls-2 {
  fill-rule: evenodd;
}

.cls-2 {
  fill: #fff;
}

.cls-3 {
  fill: #ee8208;
  fill-rule: evenodd;
}

.cls-4 {
  fill: #fff;
}

.cls-5,
.cls-6 {
  fill-rule: evenodd;
}

.cls-5 {
  fill: #48dd55;
}
.cls-6 {
  fill: #fff;
}

.cls-7 {
  fill: #0a66c2;
}

.cls-7,
.cls-8 {
  fill-rule: evenodd;
}

.cls-8 {
  fill: #fff;
}

.cls-9 {
  fill: #10b7f4;
}

.cls-9,
.cls-10 {
  fill-rule: evenodd;
}

.cls-10 {
  fill: #fff;
}

.cls-11 {
  fill: #1da1f2;
}

.cls-11,
.cls-12 {
  fill-rule: evenodd;
}

.cls-12 {
  fill: #fff;
}

.cls-13 {
  fill: #ea4c89;
}

.cls-13,
.cls-14 {
  fill-rule: evenodd;
}

.cls-14 {
  fill: #fff;
}

.cls-15 {
  fill: #1769ff;
}

.cls-15,
.cls-16 {
  fill-rule: evenodd;
}

.cls-16 {
  fill: #fff;
}

.cls-17 {
  fill: #f26522;
}

.cls-17,
.cls-18 {
  fill-rule: evenodd;
}

.cls-18 {
  fill: #fff;
}
