*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 255, 255) ;
    height: 200vh;
}
header{
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}
#Logo-Img{
    width: 25%;
}
main{
    padding: 0% 2% 5% 2%;
    background-color: rgb(255, 255, 255);
}
#Title-Text{
    font-size: medium;
}
#Perfil-Img{
    width: 70%;
}
section{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2%;
    width: 100%;
    height: 30vh;
    margin-top: 2%;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 2px 0px 20px rgba(0, 0, 255, 0.19);
}
#Frase-Content{
  background-color:rgba(255, 255, 255, 0);
  padding: 2%;
  text-align: center;
  justify-content: center;
  height: 10vh;
  width: 100%;
  overflow: hidden;
  margin-top: -13vh;
}
.e-card {
    margin: 100px auto;
    background: transparent;
    position: relative;
    width: 100%;
    height: 70vh;
    border-radius: 0px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    margin-top: auto;
}
.wave {
    position: absolute;
    width: 750px;
    height: 700px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -50%;
    margin-top: -70%;
    background: linear-gradient(744deg,#af40ff,#5b42f3 60%,#00ddeb);
}
.icon {
    width: 3em;
    margin-top: -1em;
    padding-bottom: 1em;
}
.infotop {
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 5.6em;
    left: 0;
    right: 0;
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.name {
    font-size: 15px;
    font-weight: 100;
    position: relative;
    top: 1em;
    text-transform: uppercase;
}
.wave:nth-child(2),
.wave:nth-child(3) {
    top: 210px;
}
.playing .wave {
    border-radius: 40%;
    animation: wave 3000ms infinite linear;
}
.wave {
    border-radius: 40%;
    animation: wave 55s infinite linear;
}
.playing .wave:nth-child(2) {
    animation-duration: 4000ms;
}
.wave:nth-child(2) {
    animation-duration: 50s;
}
.playing .wave:nth-child(3) {
    animation-duration: 5000ms;
}
.wave:nth-child(3) {
    animation-duration: 45s;
}
@keyframes wave {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
}
#Tools{
  text-align: center;

}
.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.281);
  height: auto;
  padding: 0px 0px 20% 0px ;
  margin-top: 4%;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  border-radius: 0px;
  margin-bottom: 0px;
}
.content::before {
  content: "";
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
  bottom: 0;
  width: 40px;
  height: 96px;
  background-image: linear-gradient(90deg, #ffffff1c, transparent);
  z-index: 2;
  border-radius: 10px 0 0 10px;
}
.content::after {
  content: "";
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
  bottom: 0;
  width: 40px;
  height: 96px;
  background-image: linear-gradient(-90deg, #ffffff1c, transparent);
  z-index: 9;
  border-radius: 0 10px 10px 0;
}
.basic-marquee {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}
.basic-marquee .button {
  transition: all 0.3s ease;
}
.basic-marquee .button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.basic-marquee-1 {
  animation: marquee 15s linear infinite;
}
.basic-marquee-2 {
  animation: marquee 21s linear infinite;
}
.benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  min-width: 900px;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  inset: 0;
}
@keyframes marquee {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.basic-marquee svg {
  width: 40px;
}
.basic-marquee button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cls-1 {
  fill: #1ab7ea;
}
.cls-1,
.cls-2 {
  fill-rule: evenodd;
}
.cls-2 {
  fill: #fff;
}
.cls-3 {
  fill: #ee8208;
  fill-rule: evenodd;
}
.cls-4 {
  fill: #fff;
}
.cls-5,
.cls-6 {
  fill-rule: evenodd;
}
.cls-5 {
  fill: #48dd55;
}
.cls-6 {
  fill: #fff;
}
.cls-7 {
  fill: #0a66c2;
}
.cls-7,
.cls-8 {
  fill-rule: evenodd;
}
.cls-8 {
  fill: #fff;
}
.cls-9 {
  fill: #10b7f4;
}
.cls-9,
.cls-10 {
  fill-rule: evenodd;
}
.cls-10 {
  fill: #fff;
}
.cls-11 {
  fill: #1da1f2;
}
.cls-11,
.cls-12 {
  fill-rule: evenodd;
}
.cls-12 {
  fill: #fff;
}
.cls-13 {
  fill: #ea4c89;
}
.cls-13,
.cls-14 {
  fill-rule: evenodd;
}
.cls-14 {
  fill: #fff;
}
.cls-15 {
  fill: #1769ff;
}
.cls-15,
.cls-16 {
  fill-rule: evenodd;
}
.cls-16 {
  fill: #fff;
}
.cls-17 {
  fill: #f26522;
}
.cls-17,
.cls-18 {
  fill-rule: evenodd;
}
.cls-18 {
  fill: #fff;
}
.Service-Redes-Content{
  text-align: center;
  padding-top: 6%;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}
.Title-Services{ 
  padding: 0% 0% 5% 0%;
}
hr{
  background-color: rgba(255, 226, 226, 0);
  width: auto;
  height: auto;
}
.loader {
  --path: #2f3545;
  --dot: #5628ee;
  --duration: 3s;
  width: 44px;
  height: 44px;
  position: relative;
}

.loader:before {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  display: block;
  background: var(--dot);
  top: 37px;
  left: 19px;
  transform: translate(-18px, -18px);
  animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg {
  display: block;
  width: 100%;
  height: 100%;
}

.loader svg rect, .loader svg polygon, .loader svg circle {
  fill: none;
  stroke: var(--path);
  stroke-width: 10px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.loader svg polygon {
  stroke-dasharray: 145 76 145 76;
  stroke-dashoffset: 0;
  animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg rect {
  stroke-dasharray: 192 64 192 64;
  stroke-dashoffset: 0;
  animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg circle {
  stroke-dasharray: 150 50 150 50;
  stroke-dashoffset: 75;
  animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader.triangle {
  width: 48px;
}

.loader.triangle:before {
  left: 21px;
  transform: translate(-10px, -18px);
  animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

@keyframes pathTriangle {
  33% {
    stroke-dashoffset: 74;
  }

  66% {
    stroke-dashoffset: 147;
  }

  100% {
    stroke-dashoffset: 221;
  }
}

@keyframes dotTriangle {
  33% {
    transform: translate(0, 0);
  }

  66% {
    transform: translate(10px, -18px);
  }

  100% {
    transform: translate(-10px, -18px);
  }
}

@keyframes pathRect {
  25% {
    stroke-dashoffset: 64;
  }

  50% {
    stroke-dashoffset: 128;
  }

  75% {
    stroke-dashoffset: 192;
  }

  100% {
    stroke-dashoffset: 256;
  }
}

@keyframes dotRect {
  25% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(18px, -18px);
  }

  75% {
    transform: translate(0, -36px);
  }

  100% {
    transform: translate(-18px, -18px);
  }
}

@keyframes pathCircle {
  25% {
    stroke-dashoffset: 125;
  }

  50% {
    stroke-dashoffset: 175;
  }

  75% {
    stroke-dashoffset: 225;
  }

  100% {
    stroke-dashoffset: 275;
  }
}

.loader {
  display: inline-block;
  margin: 0 16px;
}
.Loader-Content{
  background-color: rgb(255, 255, 255);
  text-align: center;

  margin-top: -10vh;
  padding-bottom: 5%;
}
Article{
  position: fixed;
  background-color: rgb(255, 255, 255);
  z-index: 20;
  width: 100%;
  border-radius: 12px 12px 0px 0px;
  bottom: 0;
  padding-left: 10%;
  padding-top: 2%;
  padding-right: 10%;
  display: flex;
  overflow: hidden;
  height: 9vh;
  justify-content: space-between;
  box-shadow: 0px 2px 17px  rgba(6, 79, 224, 0.399);
  
}
.Opcionales{
  background-color: rgba(89, 0, 0, 0);
  width: 20%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.Home{
  text-decoration: none;
}
